<nav class="so-nav">
    <div class="container">
        <div class="nav-content">
            <!-- Logo -->
            <a class="flex-none" routerLink="/">
                <img src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg"
                     alt="Stack Overflow"
                     class="nav-logo" />
            </a>

            <!-- Search -->
            <div class="nav-search">
                <div class="search-wrapper">
                    <mat-icon class="search-icon">search</mat-icon>
                    <input type="text" 
                           placeholder="Search..." 
                           class="search-input"
                           [(ngModel)]="searchQuery"
                           (keyup)="onSearch($event)"/>
                </div>
            </div>

            <!-- Actions -->
            <div class="nav-actions">
                <button mat-icon-button [matMenuTriggerFor]="authMenu" class="auth-button">
                    <mat-icon>person</mat-icon>
                </button>

                <!-- Auth Menu -->
                <mat-menu #authMenu="matMenu" class="auth-menu">
                    <div class="menu-content">
                        <ng-container *ngIf="isLoggedIn">
                            <a mat-menu-item [routerLink]="['/users', currentUser?.id]">
                                <mat-icon>account_circle</mat-icon>
                                <span>Profile</span>
                            </a>
                            <button mat-menu-item (click)="onLogout()">
                                <mat-icon>logout</mat-icon>
                                <span>Log out</span>
                            </button>
                        </ng-container>

                        <ng-container *ngIf="!isLoggedIn">
                            <a mat-menu-item routerLink="/auth">
                                <mat-icon>login</mat-icon>
                                <span>Sign in</span>
                            </a>
                            <a mat-menu-item routerLink="/auth" [queryParams]="{signup: true}">
                                <mat-icon>person_add</mat-icon>
                                <span>Sign up</span>
                            </a>
                        </ng-container>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>
</nav>